<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	
</head>
<body>

	<nav>
		<p style="display: inline-block;">Nav:
			<a href="/items">Item List</a>
			<a href="/items/add">Add Items</a>
		</p>

	</nav>	

	<h1 id="app-name"style="border: 1px solid blue; border-radius: 10px">Awesome Item App</h1>

	<%= yield %>


	<small>Thanks for using this site. This 'footer' is in the main layour.erb and will appear on all pages. © 2018 no one.</small>	
</body>
</html>